.App {

}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid;
  text-align: left;
}

th, td {
  padding: 5px;
}

h2, h3 {
  margin: 10px 0px;
}

label {
  display: block;
  margin-top: 10px;
}

input, button {
  font-size: 1em;
}

button {
  margin-top: 10px;
  color: white;
  background: blue;
  padding: 10px 15px;
}

.App-header {
  background-color: #222;
  padding: 10px;
  color: white;
}

.navbar:after {
  content: "";
  display: table;
  clear: both;
}

.link-menu {
  display: block;
  color: white;
  background: blue;
  margin: 10px 0px 0px 10px;
  padding: 10px 15px;
  float: left;
}

.component {
  border: 1px solid #ccc;
  background: #eee;
  padding: 10px;
  margin: 10px;
}

dt {
  margin-top: 10px;
  font-weight: bold;
}

dd {
  margin: 0px;
}
